/* NoteComponent.css */

.note {
    border: 1px solid #E9ECEF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius:10px;
    background-color: white;
}

.noter1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.notegroup {
    display: flex;
    align-items: center;
    gap:5px;
}

.notet1 {
    margin-left: 10px;
    font-size: 12px;
    color: #2570CA;
  font-weight: 500;


}

.notet12 {
    font-weight: bold;
    color: #666;
    background-color: #F1F3F5;
    font-size: 12px;

}

.notet2 {
    margin-top: 10px;
    font-size: 13px;
}

.noter2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notet4 {
    margin-left: 5px;
    font-size: 13px;
    font-weight: 500;
    color: #2570CA;
}

.notet3 {
    margin-left: 5px;
    font-size: 13px;
    font-weight: 500;
    color: #000000;
}

/* You can add more styles as per your design requirements */